<div *ngIf="showMonthlySelectForm" class="container content">
    <div class="color-frame rounded">
      <hr class="thick-br"/>
      <div *ngIf="monthlyDateRange$ | async as monthlyDateRange;else no_previous_dates">
        <h5>Reselect Monthly Spending Records</h5>
          <app-reselect-monthly-spending-records
            [monthlyDateRange]=monthlyDateRange
            (closeMonthlySelectFormEvent)="closeMonthlySelectFormHander($event)">
          </app-reselect-monthly-spending-records>
      </div>
      <ng-template #no_previous_dates>
        <h5>Select Monthly Spending Records</h5>
          <app-select-monthly-spending-records
            (closeMonthlySelectFormEvent)="closeMonthlySelectFormHander($event)">
          </app-select-monthly-spending-records>
      </ng-template>
      <hr class="thick-br"/>
    </div>
</div>
<div *ngIf="spendingRecords$ | async as spendingRecords" class="container content">
  <div class="large-scr-tbl" [hidden]="showMonthlySelectForm"
  [style.opacity]="showMonthlySelectForm ? '0' : '1'"
  [style.visibility]="showMonthlySelectForm ? 'hidden' : 'visible'">
      <table class="table">
          <thead>
            <tr class="row">
              <th class="col"><h5>Date</h5></th>
              <th class="col"><h5>Expense</h5></th>
              <th class="col"><h5>Amount</h5></th>
              <th class="col"><h5>Currency</h5></th>
              <th class="col" id="edit"><h5>Remove</h5></th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let spendingRecord of spendingRecords" >
              <app-single-spending-record [spendingRecord]=spendingRecord>
              </app-single-spending-record>
            </div>
          </tbody>
      </table>
    </div>
</div>