<h3>Income Sources</h3>

<div *ngIf="incomeSourceDeleteErrMsg$ | async as incomeSourceErrMsg">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="text-danger">{{ incomeSourceErrMsg }}</h4>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="incomeSourceDeleteSuccessMsg$ | async as incomeSourceSuccessMsg">
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h6>{{ incomeSourceSuccessMsg }}</h6>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="incomeSources$ | async as incomeSources" class="container">
    <div class="large-scr-tbl">
        <table class="table">
            <thead class="table-dark">
              <tr class="row">
                <th class="col"><h5 class="text-secondary">ID</h5></th>
                <th class="col"><h5 class="text-secondary">Income Source Name</h5></th>
                <th class="col"><h5 class="text-secondary">Delete</h5></th>
              </tr>
            </thead>
            <tbody class="table-dark">
              <div *ngFor="let incomeSource of incomeSources" >
                <app-single-income-source [incomeSource]=incomeSource>
                </app-single-income-source>
              </div>
            </tbody>
        </table>
    </div>
</div>
