<tr class="row" >
    <th class="col">
      <h5 class="text-secondary">
        {{ spendingRecord.date }}
      </h5>
    </th>
    <th class="col">
      <h5 class="text-secondary">
        {{ spendingRecord.expense.expense_name }}
      </h5>
    </th>
    <th class="col">
      <h5 class="text-secondary">
        {{ spendingRecord.amount }}
      </h5>
    </th>
    <th class="col">
      <h5 class="text-secondary">
        {{ spendingRecord.currency.currency_code }}
      </h5>
    </th>
    <th class="col">
      <div *ngIf="!deletionPopupVisible;else del_time" class="text-center">
        <button
          class="btn btn-sm btn-outline-secondary"
          (click)="showDelPopup()"
          >
          Remove
        </button>
      </div>
      <ng-template #del_time class="row">
        <div class="col text-center">
          <button
            class="btn btn-sm btn-outline-secondary"
            (click)="hideDelPopup()">
            Don't Delete
          </button>
        </div>
        <div class="col text-center">
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="onRemoveSpendingRecord()"
            >
            Confirm Delete
          </button>
        </div>
      </ng-template>
    </th>
  </tr>