<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Financial Information
            </a>
            <ul class="dropdown-menu mydropnav bg-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item bg-dark" 
                routerLink="finance/savings-accounts" 
                href="#">Savings Accounts</a>
              </li>
              <li><a class="dropdown-item bg-dark" 
                routerLink="finance/create-account" 
                href="#">Create Account</a>
              </li>
              <li><a class="dropdown-item bg-dark" 
                routerLink="finance/create-deposit" 
                href="#">Record Deposit</a>
              </li>
              <li><a class="dropdown-item bg-dark" 
                routerLink="finance/monthly-deposits" 
                href="#">Monthly Deposits</a>
              </li>
              <li><a class="dropdown-item bg-dark" 
                routerLink="finance/create-withdrawal" 
                href="#">Record Withdrawal</a>
              </li>
              <li><a class="dropdown-item bg-dark" 
                routerLink="finance/monthly-withdrawals" 
                href="#">Monthly Withdrawals</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Income
            </a>
            <ul class="dropdown-menu mydropnav bg-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item bg-dark" 
                routerLink="income-sources" 
                href="#">Income Sources</a>
              </li>
              <li><a class="dropdown-item bg-dark" 
                routerLink="create-income-source" 
                href="#">Create Income Source</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Expenditures
            </a>
            <ul class="dropdown-menu mydropnav bg-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item bg-dark" 
                routerLink="expenditures/expenses" 
                href="#">Expenses</a>
              </li>
              <li><a class="dropdown-item bg-dark" 
                routerLink="expenditures/create-expense" 
                href="#">Create Expense</a>
              </li>
              <li><a class="dropdown-item bg-dark" 
                routerLink="expenditures/spending-records" 
                href="#">Spending Records</a>
              </li>
              <li><a class="dropdown-item bg-dark" 
                routerLink="expenditures/create-spending-record" 
                href="#">Create Spending Record</a>
              </li>
            </ul>
          </li>
          <li><a class="nav-link" 
            routerLink="user-profile" 
            href="#">Profile</a>
          </li>
          <li *ngIf="userIsAuthenticated">
            <a class="nav-link" href="#" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
