<tr class="row" >
    <th class="col">
      <h5 class="text-secondary">
        {{ savingsAccount.bank.bank_name }}
      </h5>
    </th>
    <th class="col">
      <h5 class="text-secondary">
        {{ savingsAccount.account_name }}
      </h5>
    </th>
    <th class="col">
      <h5 class="text-secondary">
        {{ savingsAccount.account_balance }}
      </h5>
    </th>
    <th class="col">
      <h5 class="text-secondary">
        {{ savingsAccount.currency.currency_code }}
      </h5>
    </th>
  </tr>
