<tr class="row" >
    <th class="col">
      <h5 class="text-secondary">
        {{ savingsAccount.bank.bank_name }}
      </h5>
    </th>
    <th class="col">
      <h5 class="text-secondary">
        <a [routerLink]="['/authenticated-user/finance/edit-account', savingsAccount.id]">
          {{ savingsAccount.account_name }}
        </a>
      </h5>
    </th>
    <th class="col">
      <h5 class="text-secondary">
        {{ savingsAccount.account_balance }}
      </h5>
    </th>
    <th class="col">
      <h5 class="text-secondary">
        {{ savingsAccount.currency.currency_code }}
      </h5>
    </th>
    <th class="col">
      <div *ngIf="!deletionPopupVisible; else delAccount" class="text-center">
        <button
          class="btn btn-sm btn-outline-secondary"
          (click)="showDeletionPopup()"
          >
          Remove
        </button>
      </div>
      <ng-template #delAccount class="row">
        <div class="col text-center">
          <button
            class="btn btn-sm btn-outline-secondary"
            (click)="hideDeletionPopup()">
            Don't Delete
          </button>
        </div>
        <div class="col text-center">
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="onRemoveSavingsAccount()"
            >
            Confirm Delete
          </button>
        </div>
      </ng-template>
    </th>
  </tr>
