<br />
<h3>Edit Income Source</h3>
<div *ngIf="incomeSourceSubmitErrMsg$ | async as incomeSourceErrMsg">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="text-danger">{{ incomeSourceErrMsg }}</h4>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="incomeSourceSubmitSuccessMsg$ | async as incomeSourceSuccessMsg">
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h6>{{ incomeSourceSuccessMsg }}</h6>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="incomeSource$ | async as incomeSource" class="container">
      <hr class="thick-br"/>
      <app-edit-income-source-form [incomeSource]=incomeSource>
      </app-edit-income-source-form>
      <hr class="thick-br"/>
</div>
